# project
node_modules
.DS_Store
pnpm-lock.yaml

# VERCEL
.vercel
.output

# Turborepo
.turbo

# Remix
apps/web/public/build
apps/web/api
apps/web/app/styles/tailwind.css
.cache

# MSW
apps/web/mocks/build

# Storybook
packages/ui/storybook-static
packages/ui/.storybook/static/tailwind.css
